singularity {
  enabled = true
  autoMounts = true
}

// Load some standard modules before running script
process {
  executor = 'slurm'

  withName: runGann {
    cpus = { check_max( 8, 'cpus' ) }
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    container = 'luslab/tensorflow-gpu:latest'
    queue = 'gpu'
    clusterOptions = '--gres=gpu:1'
    docker.runOptions = '--gpus all -u \$(id -u):\$(id -g)'
  }
}

// Crick specific computing max resource levels
params {
  max_memory = 224.GB
  max_cpus = 32
  max_time = 72.h
}