singularity {
  enabled = true
  autoMounts = true
}

// Load some standard modules before running script
process {
  executor = 'slurm'

  withName: runGann {
    // Cluster options
    cpus = { check_max( 8, 'cpus' ) }
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    queue = 'gpu'

    if(!params.numGPU) {
      clusterOptions = '--gres=gpu:1'
    }
    else {
      clusterOptions = "--gres=gpu:${params.numGPU}"
    }

    // Container options for GPU enabled instances
    container = 'luslab/tensorflow-gpu:latest'
    docker.runOptions = '--gpus all -u \$(id -u):\$(id -g)'
    singularity.runOptions = '--nv'
  }
}

// Crick specific computing max resource levels
params {
  max_memory = 224.GB
  max_cpus = 32
  max_time = 72.h
}